{
    "plugins": [
      ["prismjs", {
          "languages": ["javascript", "ts", "java"],
          "plugins": ["line-numbers"],
          "theme": "twilight",
          "css": true
      }]
    ]
  }
